<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <h1 class="m-0">
        <img src="assets/images/logo2.png" > <span
          class="fs-5"
        ></span>
      </h1>
      <!-- <img src="assets\images\logo.png" alt="Logo"> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a routerLink="/service" class="nav-item nav-link">Service</a>
        <a href="/header" class="nav-item nav-link">Home</a>
        <a routerLink="/about" class="nav-item nav-link">About</a>
      
        <a routerLink="/project" class="nav-item nav-link">Project</a>
        <div class="nav-item dropdown">
          <a
            routerLink="#"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            >Pages</a
          >
          <div class="dropdown-menu m-0">
            <a routerLink="/team" class="dropdown-item">Our Team</a>
            <a routerLink="/testimonial" class="dropdown-item active"
              >Testimonial</a
            >
            <!-- <a class="dropdown-item">404 Page</a> -->
          </div>
        </div>
        <a routerLink="/contact" class="nav-item nav-link">Contact</a>
      </div>
      <button
        type="button"
        class="btn text-secondary ms-3"
        data-bs-toggle="modal"
        data-bs-target="#searchModal"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </nav>
  <div class="container-xxl py-5 bg-primary hero-header mb-5">
    <div class="container my-5 py-5 px-lg-5">
      <div class="row g-5 py-5">
        <div class="col-12 text-center">
          <h1 class="text-white animated zoomIn">Our Clients</h1>
          <hr class="bg-white mx-auto mt-0" style="width: 90px" />
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <!-- <li class="breadcrumb-item">
                <a class="text-white" href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-white" href="#">Pages</a>
              </li>
              <li class="breadcrumb-item text-white active" aria-current="page">
                Our Clients
              </li> -->
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->
<!-- Testimonial Start -->
<div class="container-xxl bg-primary testimonial py-5 wow fadeInUp" data-wow-delay="0.1s" style=" margin: 6rem 0px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp; " >
   <div class="container py-5 px-lg-5">
    <div class="owl-carousel testimonial-carousel owl-loaded owl-drag">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="
            transition: all 0s ease 0s;
            width: 4084px;
            transform: translate3d(-2041px, 0px, 0px);
          "
        >
          <div
            class="owl-item cloned"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-2.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item cloned"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-3.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item cloned"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-4.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 383.333px; margin-right: 25px">
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-1.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 383.333px; margin-right: 25px">
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-2.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Client Name</h6>
                  <small>Profession</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item active"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\bucks.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Bucks legal</h6>
                  <small>Solicitor</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item active center"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\eagle.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Eagle tech</h6>
                  <small>Software house</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item cloned active"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\sre.png"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Serenity School</h6>
                  <small>Education</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item cloned"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-2.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Longfellow</h6>
                  <small>Solicitor</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="owl-item cloned"
            style="width: 383.333px; margin-right: 25px"
          >
            <div
              class="testimonial-item bg-transparent border rounded text-white p-4"
            >
              <i class="fa fa-quote-left fa-2x mb-3"></i>
              <!-- <p>
                Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
                stet amet eirmod eos labore diam
              </p> -->
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="assets\images\testimonial-3.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h6 class="text-white mb-1">Proview Accounting</h6>
                  <small>Accountant</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <div class="owl-prev">prev</div>
        <div class="owl-next">next</div>
      </div>
      <div class="owl-dots disabled"></div>
    </div>
  </div>
</div>

<!-- Testimonial End -->
