<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <h1 class="m-0">
        <i class="fa fa-search me-2"></i>Techlogic IT Services<span
          class="fs-5"
        ></span>
      </h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="index.html" class="nav-item nav-link">Home</a>
        <a routerLink="/about" class="nav-item nav-link">About</a>
        <a routerLink="/service" class="nav-item nav-link">Service</a>
        <a routerLink="/project" class="nav-item nav-link active">Project</a>
        <div class="nav-item dropdown">
          <a
            routerLink="#"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            >Pages</a
          >
          <div class="dropdown-menu m-0">
            <a routerLink="/team" class="dropdown-item">Our Team</a>
            <a routerLink="/testimonial" class="dropdown-item">Testimonial</a>
            <a class="dropdown-item">404 Page</a>
          </div>
        </div>
        <a routerLink="/contact" class="nav-item nav-link">Contact</a>
      </div>
      <button
        type="button"
        class="btn text-secondary ms-3"
        data-bs-toggle="modal"
        data-bs-target="#searchModal"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </nav>
  <div class="container-xxl py-5 bg-primary hero-header mb-5">
    <div class="container my-5 py-5 px-lg-5">
      <div class="row g-5 py-5">
        <div class="col-12 text-center">
          <h1 class="text-white animated zoomIn">Project</h1>
          <hr class="bg-white mx-auto mt-0" style="width: 90px" />
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item">
                <a class="text-white" href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-white" href="#">Pages</a>
              </li>
              <li class="breadcrumb-item text-white active" aria-current="page">
                Project
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->
<!-- Portfolio Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <h6 class="position-relative d-inline text-primary ps-4">Our Projects</h6>
      <h2 class="mt-2">Recently Launched Projects</h2>
    </div>
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-12 text-center">
        <ul class="list-inline mb-5" id="portfolio-flters">
          <li class="btn px-3 pe-4 active" data-filter="*">All</li>
          <li class="btn px-3 pe-4" data-filter=".first">Design</li>
          <li class="btn px-3 pe-4" data-filter=".second">Development</li>
        </ul>
      </div>
    </div>
    <div class="row g-4 portfolio-container">
      <div
        class="col-lg-4 col-md-6 portfolio-item first wow zoomIn"
        data-wow-delay="0.1s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="assets\images\portfolio-1.jpg"
            alt=""
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="assets\images\portfolio-1.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i>Web Design</small
              >
              <a class="h5 d-block text-white mt-1 mb-0" href=""
                >Project Name</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item second wow zoomIn"
        data-wow-delay="0.3s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="assets\images\portfolio-2.jpg"
            alt=""
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="assets\images\portfolio-2.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i>Web Design</small
              >
              <a class="h5 d-block text-white mt-1 mb-0" href=""
                >Project Name</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item first wow zoomIn"
        data-wow-delay="0.6s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="assets\images\portfolio-3.jpg"
            alt=""
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="assets\images\portfolio-3.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i>Web Design</small
              >
              <a class="h5 d-block text-white mt-1 mb-0" href=""
                >Project Name</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item second wow zoomIn"
        data-wow-delay="0.1s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="assets\images\portfolio-4.jpg"
            alt=""
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="assets\images\portfolio-4.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i>Web Design</small
              >
              <a class="h5 d-block text-white mt-1 mb-0" href=""
                >Project Name</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item first wow zoomIn"
        data-wow-delay="0.3s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="assets\images\portfolio-5.jpg"
            alt=""
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="assets\images\portfolio-5.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i>Web Design</small
              >
              <a class="h5 d-block text-white mt-1 mb-0" href=""
                >Project Name</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item second wow zoomIn"
        data-wow-delay="0.6s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="assets\images\portfolio-6.jpg"
            alt=""
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="assets\images\portfolio-6.jpg"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i>Web Design</small
              >
              <a class="h5 d-block text-white mt-1 mb-0" href=""
                >Project Name</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio End -->
