<!-- Navbar & Hero Start -->
<div class="container-xxl bg-white p-0">
  <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
      <a href="" class="navbar-brand p-0">
        <h1 class="m-0">
          <img src="assets/images/logo2.png" > <span
            class="fs-5"
          ></span>
        </h1>
        <!-- <img src="assets/Images/logo.png" alt="Logo"> -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <!-- <a href="" class="nav-item nav-link active">Home</a>
                <a href="" class="nav-item nav-link">About</a>
                <a href="" class="nav-item nav-link">Service</a>
                <a href="" class="nav-item nav-link">Project</a> -->
          <a routerLink="/header" class="nav-item nav-link">Home</a>
          <a routerLink="/about" class="nav-item nav-link ">About</a>
          <a routerLink="/service" class="nav-item nav-link">Service</a>
          <a routerLink="/project" class="nav-item nav-link">Project</a>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Pages</a
            >
            <div class="dropdown-menu m-0">
              <!-- <a href="team.html" class="dropdown-item">Our Team</a>
                      <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                      <a href="404.html" class="dropdown-item">404 Page</a> -->
              <a routerLink="/team" class="dropdown-item">Our Team</a>
              <a routerLink="/testimonial" class="dropdown-item">Testimonial</a>
              <!-- <a href="" class="dropdown-item">404 Page</a> -->
            </div>
          </div>
          <a routerLink="/contact" class="nav-item nav-link">Contact</a>
          <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <button
          type="button"
          class="btn text-secondary ms-3"
          data-bs-toggle="modal"
          data-bs-target="#searchModal"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </nav>
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
      <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
          <div class="col-12 text-center">
            <h1 class="text-white animated zoomIn">Telecommunication</h1>
            <hr class="bg-white mx-auto mt-0" style="width: 90px" />
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                  <a class="text-white" href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="text-white" href="#">Pages</a>
                </li>
                <li
                  class="breadcrumb-item text-white active"
                  aria-current="page"
                >
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->
<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="row g-5">
      <p class="mb-4">
        A cost-effective and feature-rich alternative to traditional phone systems.
       </p>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Voip Telephone system</h2>
          <h6 class="mt-2"> IT support professionals must ensure that PMS software is working correctly to manage hotel operations, including guest check-in and check-out, room reservations, and billing</h6>
        </div>
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Call forwarding</h2>
          <h6 class="mt-2"> This feature allows users to forward incoming calls to another phone number, such as a mobile phone or another landline, ensuring that important calls are never missed. </h6>
        </div>
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Caller ID</h2>
          <h6 class="mt-2"> Caller ID allows users to see the phone number and name (if available) of the person calling before answering the call.</h6>
        </div>
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Call waiting</h2>
          <h6 class="mt-2"> This feature allows users to put the current call on hold and answer a second incoming call, ensuring that they don't miss any important calls.
          </h6>
        </div>
       
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Voicemail</h2>
          <h6 class="mt-2"> Voicemail allows callers to leave a message if the user is unavailable or does not answer the call.</h6>
        </div>
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Conference calling</h2>
          <h6 class="mt-2"> Conference calling allows multiple users to participate in a call simultaneously, enabling remote collaboration.</h6>
        </div>
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Call recording</h2>
          <h6 class="mt-2"> Call recording allows users to record calls for later review or training purposes.</h6>
        </div>
        <div class="section-title position-relative mb-4 pb-2">
          <h2 class="position-relative text-primary ps-4">Auto-attendant</h2>
          <h6 class="mt-2"> An auto-attendant is a recorded message that greets callers and provides them with menu options to direct their call to the appropriate person or department</h6>
        </div>
         
        <br>
      <br>
         
        <div class="row g-3">
          <div class="col-sm-6">
            <h4 class="mb-3">
              <i class="fa fa-check text-primary me-2"></i>Award Winning
            </h4>
            <h4 class="mb-0">
              <i class="fa fa-check text-primary me-2"></i>Professional  Staff
            </h4>
          </div>
          <div class="col-sm-6">
            <h4 class="mb-3">
              <i class="fa fa-check text-primary me-2"></i>24/7 Monitoring
            </h4>
            <h4 class="mb-0">
              <i class="fa fa-check text-primary me-2"></i>Fair Prices
            </h4>
          </div>
        </div>
        <div class="d-flex align-items-center mt-4">
          <a class="btn btn-primary rounded-pill px-4 me-3" href=""
            >Read More</a
          >
          <a class="btn btn-outline-primary btn-square me-3" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-primary btn-square me-3" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-outline-primary btn-square me-3" href=""
            ><i class="fab fa-instagram"></i
          ></a>
          <a class="btn btn-outline-primary btn-square" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          class="img-fluid wow zoomIn"
          data-wow-delay="0.5s"
          src="assets\images\about.jpg"
        />
      </div>
    </div>
  </div>
</div>
<!-- About End -->
